{% extends "base.html" %}

{% block article %}
{% if movie_list %}
    <div id="movie_list" class="flex flex-wrap justify-center gap-8">
        {% for movie in movie_list %}
            <div class="max-w-xs rounded overflow-hidden shadow-lg transition-transform duration-300 transform hover:scale-105">
                <img class="w-full" src="/static/movies/assets/img/{{ movie.title |slugify}}.jpg" alt="{{ movie.title }} poster">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">{{ movie.title }}</div>
                    <p class="text-gray-700 text-base">
                        {{ movie.release_date |date:"M. j, Y"}}
                    </p>
                    <!-- Mostrar el rating promedio -->
                    {% if movie.avg_rating %}
                        <p>Rating promedio: {{ movie.avg_rating }}</p>
                    {% else %}
                        <p>No hay rating disponible.</p>
                    {% endif %}
                </div>
                <div class="px-6 pt-4 pb-2">
                    <a href="/movies/{{ movie.id }}/" class="inline-block bg-gray-800 hover:bg-gray-700 rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2">Ver Detalles</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p class="text-red-500">No hay películas disponibles.</p>
{% endif %}
{% endblock article %}
