{% if user.is_authenticated %}
<div class="mb-8 py-3 px-4 mx-auto rounded-md border bg-gray-100 border-gray-400">
  <form method="post" action="{% url 'nombre_de_la_vista_para_procesar_el_formulario' %}">
    {% csrf_token %}
    <fieldset>
      <legend class="text-lg mb-3 text-balance">Deja una reseña para &quot;{{ movie.title|title }}&quot;</legend>
      <div class="mb-2">
        <label for="rating" class="pr-2">Calificación:</label>
        <input type="number" id="rating" name="rating" required min="0" max="100"
          class="py-1 px-2 rounded-md border-gray-400 focus:border-indigo-500">
      </div>
      <div class="mb-2">
        <label for="review">¿Qué opinas sobre esta película?</label>
        <textarea id="review" name="review" rows="3" placeholder="Me gustó la película porque..."
          class="py-1 px-2 block mt-1 min-h-8 w-full placeholder-gray-400 rounded-md border-gray-400 focus:border-indigo-500"></textarea>
      </div>
    </fieldset>
    <div class="mt-2">
      <button
        class="inline-block mx-auto py-1 px-3 text-zinc-50 bg-indigo-500 ease-out duration-200 hover:bg-indigo-700 rounded-md"
        type="submit">Guardar</button>
    </div>
  </form>
</div>
{% else %}
<p class="my-4">
  Necesitas estar <a href="{% url 'login-user' %}" class="text-link">logueado</a> para dejar una reseña.
</p>
{% endif %}
